@if (isLamp()) {
  <span class="lamp-glow" [class.ceiling]="isCeiling()" aria-hidden="true"></span>
}

@if (isWindow()) {
  <span
    class="window-scene"
    [style.backgroundSize]="sceneSize()"
    [style.backgroundPosition]="scenePos()"
    aria-hidden="true"
  ></span>
}

@if (isRoomIcon()) {
  <app-item-icon
    [key]="`${item().key}_room`"
    [crisp]="true"
    [stretch]="true"
    [isMobileSize]="isMobile()"
    [viewBox]="isVerical() ? '0 0 88 60' : '0 0 60 88'"
  />
} @else if(item().key === 'rug') {
  <app-item-icon [key]="item().key" [crisp]="true" [stretch]="true" [isMobileSize]="isMobile()" viewBox="0 20 60 28" />
} @else {
  <app-item-icon [key]="item().key" [crisp]="true" [isMobileSize]="isMobile()" />
}

